@use "../var";
@use "../mixins";

.charity-page {
	#charity-info {
		.header {
			@include flex-container(row, space-between, center, wrap, 1, 0.25rem);
		}
		.chakra_button {
			margin-top: 1rem;
		}
		.asset-container {
			border-radius: 0.5rem;
			margin-block: 2rem;
		}
		.asset-display-row-container {
			@include flex-container(row, space-between, center, nowrap, 0, 0.25rem);
			width: 100%;
			background-color: rgba(0, 0, 0, 0.25);
			padding: 0.25rem 0.75rem;
			margin-block: 0.25rem;
			border-radius: 0.25rem;
		}
		.bar-wrapper {
			width: 100%;
			@include flex-container(row, flex-start, center, nowrap, 0, 0);
			border-radius: 0.25rem;
			margin-top: 1rem;
			cursor: pointer !important;

			.token {
				&:hover {
					background-color: var.$foreground-LO;
				}
				height: 100%;
				border: 1px solid white;
				padding: 0.125rem 0.5rem;
				text-overflow: ellipsis;
				.chakra-popover__popper {
					.chakra-popover__content {
						padding: 0.5rem;
						background-color: var.$foreground;
						@include flex-container(
							row,
							space-between,
							flex-start,
							nowrap,
							1,
							0.5rem
						);
						h5 {
							color: var.$text;
						}
						p {
							color: var.$text-secondary;
						}
					}
				}
			}
		}
	}
}
