@use "../var";
@import "../mixins";
#app-header {
	z-index: 5 !important;
}
#page-container.landing-page {
	#background-container {
		position: absolute;
		height: 100vh;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		z-index: -1;
		.overlay {
			position: absolute;
			height: 200vh;
			width: 200vw;
			transform: translate(-50%, -50%);
			background: radial-gradient(
				circle 350px,
				rgba(0, 0, 0, 0.5) 50%,
				var.$background 200%
			);
			z-index: 1;
		}
	}

	#landing-background {
		position: absolute;
		object-fit: cover;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		filter: grayscale(100%) brightness(80%) blur(10px);

		// background-clip: text;
		// -webkit-background-clip: text; /* For Safari */
		// color: transparent;
		// -webkit-mask-image: radial-gradient(
		// 	circle 550px,
		// 	rgba(0, 0, 0, 1) 30%,
		// 	rgba(0, 0, 0, 0) 120%
		// );
		// mask-image: radial-gradient(
		// 	circle 350px,
		// 	rgba(0, 0, 0, 1) 30%,
		// 	rgba(0, 0, 0, 0) 120%
		// );
		// -webkit-mask-position: 0px 0px;
		// mask-position: 0px 0px;
		// -webkit-mask-repeat: no-repeat;
		// mask-repeat: no-repeat;
		// clip-path: inset(0);
	}

	main {
		height: 100%;
		overflow: scroll;
		// hide scroll bars
		&::-webkit-scrollbar {
			display: none;
		}
		#landing {
			padding-top: 20%;
			padding-bottom: 5%;
			@include flex-container(column, space-between, center, nowrap, 1, 5rem);
			height: 100%;
			text-align: center;

			.cta {
				@include flex-container(column, center, center, nowrap, 0, 1.5rem);
				//first child
				& > *:first-child {
					transform: scale(1.5);
					margin-bottom: 1rem;
				}
				.chakra-button {
					transform: scale(1);
				}
				.top {
					@include flex-container(row, center, flex-end, nowrap, 0, 0.5rem);
					margin-bottom: 0.5rem;
				}
			}
		}
		section {
			margin: 0 auto;
			width: min(100%, 60rem);
			padding-block: 12rem;
			justify-content: stretch;
			display: grid;
			justify-content: stretch;
			align-items: stretch;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			grid-template-areas: "content picture" "content picture";
			&.reverse {
				grid-template-areas: "picture content" "picture content";
			}
			.content {
				flex: 0.5;
				grid-area: content;
				@include flex-container(
					column,
					flex-start,
					flex-start,
					nowrap,
					0,
					1rem
				);
			}
			.img-wrapper {
				position: relative;
				border-radius: 0.5rem;
				overflow: hidden;
				grid-area: picture;
				img {
					filter: grayscale(100%) brightness(80%);
				}
			}
		}
		#timeline {
			margin-block: 10rem;
			padding-block: 5rem;
			border-radius: 2rem;
			background-color: rgba(0, 0, 0, 0.2);
			margin-bottom: 4rem;
			backdrop-filter: blur(20px);
			@include flex-container(column, center, center, nowrap, 0, 1rem);
			.content {
				.timeline {
					border-left: 2px solid var.$text;
					padding-left: 1rem;
					&::before {
						content: "";
						height: 1000px;
						width: 10px;
						background-color: var.$text;
					}
					.timeline-item {
						border-radius: 0.5rem;
						margin-block: 1rem;
						padding: 1rem;
						@include flex-container(
							row,
							flex-start,
							flex-start,
							nowrap,
							0,
							1rem
						);
						&.even {
							background-color: rgba($color: #000000, $alpha: 0.2);
						}
						&.odd {
							background-color: rgba($color: #ffffff, $alpha: 0.1);
						}
						.timeline-item-content {
							max-width: 45ch;
							.title {
								@include flex-container(
									row,
									space-between,
									center,
									nowrap,
									1,
									1
								);
							}
						}
						.dot {
							background-color: var.$text;
							height: 1rem;
							width: 1rem;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
}
