@use "../var";
@import "../mixins";
.request-form {
	color: var.$text;
	.chakra-form__helper-text {
		color: var.$text-secondary;
	}
}
.requestCharityInput {
	margin-bottom: 0.75rem;
}
.requestCharityFormHelperText {
	margin-bottom: 0.75rem;
}
