$primary: #d37cf1;
$primary-light: #e5a7fb;
$primary-dark: #961bc0;
$accent1: #5960ff;
$accent1-LO: #5960ff50;
$accent2: #5200ff;
$accent3: #410f36;
$accent4: #7b49f0;
$text: #fcfcfc;
$text-secondary: #cccccc;
$background: #22142f;
$foreground: #422552;
$background-LO: #22142f50;
$foreground-LO: #42255250;
$danger: #c74f4f;
$success: #65b36d;
$link: #4c81bf;
$button-background: #2b242e;
//Fonts
$font-body: "Roboto", sans-serif;
$font-title: "Arvo", serif;
// FONT SIZES
$XXL: 2.5rem;
$XL: 2rem;
$L: 1.5rem;
$M: 1.25rem;
$button: 1.15rem;
$default: 1rem;
$S: 0.8rem;
$XS: 0.5rem;
//FONT WEIGHTS
$Bold-weight: 900;
$SemiBold-weight: 700;
$Medium-weight: 500;
$Default-weight: 400;
$Light-weight: 300;

//SCREEN SIZES
$screen_XS: 500px;
$screen_S: 700px;
$screen_M: 900px;
$screen_L: 1500px;
$screen_XL: 2000px;

$max_secondary: 150px;
$min_secondary: 150px;
